<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        HI <%= locals.txt || 'default'%>
        <% for (i=0;i<3;i++){ %>
         <p> i value is : <%=i%> </p>    
        <% } %>
    </body>


</html>